@model NewsSite.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Реєстрація</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Реєстрація користувача</h4>
        <hr />
        @Html.ValidationSummary(false)

        <div>
            Електронна пошта
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>

        <div>
            Рік народження
            <div>
                @Html.EditorFor(model => model.Year)
            </div>
        </div>

        <div>
            Пароль
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            Підтвердіть пароль
            <div>
                @Html.EditorFor(model => model.PasswordConfirm)
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Зареєструвати" />
            </div>
        </div>
    </div>
}